*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
}


*, *:before, *:after {
    box-sizing: border-box;
}

.__node {
    position: relative;
}

.toggle-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
    position: absolute;
    right: 5px;
    z-index: 10000;
}

.toggle-button:hover {
    background-color: #45a049;
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    font-size: 1rem;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
    z-index: 10
}

.toggle-content.open {
    max-height: 100000px; /* a large number to ensure it can expand */
    padding: 5px;
    transition: max-height 0.2s ease-in, padding 0.2s ease-in;
}
