*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
}


*, *:before, *:after {
    box-sizing: border-box;
}

.__node {
    position: relative;
}

.toggle-button {
    background-color: inherit;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 15x;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.3s;
    position: absolute;
    right: 5px;
    z-index: 10000;
}

.toggle-button:hover {
    background-color: #45a049;
}

.expand-by-width {
    position: absolute;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out, padding 0.2s ease-out; */
    z-index: 10;
    cursor: pointer;
    display: none !important;
}

.expand-by-width.open {
    max-width: 100000px; /* a large number to ensure it can expand */
    max-height: 100000px;
    padding: 5px;
    /* transition: max-height 0.2s ease-in, padding 0.2s ease-in; */
    cursor: pointer;
    display: flex !important;
}

.hambuger {
    z-index: 10;
}

.hide {
    display: none;
}
